@import "../../../../styles/colors.scss";

.card {
  text-align: center;
}

.product {

  &-title {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-category {
    font-size: 0.8em;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-price {
    color: $secondary-contrast-color;
    font-weight: 700;
  }
}
