<div class="row">
  <div class="col-3">
    <aside class="sticky-top">
      <product-filter [category]="category"></product-filter>
    </aside>
  </div>
  <article class="col-9">
    <loading-spinner *ngIf="isLoading"></loading-spinner>
    <div *ngIf="!isLoading">
      <div
        class="row row-cols-3 row-cols-md-3 g-4"
        *ngIf="shoppingCart$ | async as shoppingCart">
        <ng-container *ngFor="let product of products | filter: category: 'category'; index as i">
          <div class="col">
            <product-card
              [product]="product"
              [showActions]="true"
              [shoppingCart]="shoppingCart"></product-card>
          </div>
        </ng-container>
      </div>
    </div>
  </article>
  <article id="about">
    <h2>About Us</h2>
  </article>
</div>
