@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';

.navbar.bg-light {
  background: #fff!important;
  box-shadow: $box-shadow;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  .navbar-brand {
    color: $primary-contrast-color!important;
    font-weight: 900;
    font-family: $cursive_title_font;
    font-size: 1.8em;
  }
}

.nav {
  &-item a{
    font-weight: 700;
    color: $primary-color!important;
    padding-right: 1.5em;

    &:hover, 
    &.active {
      color: $primary-contrast-color!important;
      background: transparent;
    }
  }
}
.sticky-top {
  z-index: 1021;
}
.dropdown-toggler {
  cursor: pointer;
}

a {
  cursor: pointer;
}