<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" [alt]="product.title">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <div class="card-text">
      <h6>{{ product.category }}</h6>
      <p>{{ product.price | currency }}</p>
    </div>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="shoppingCart.getItemQuantity(product.key) === 0; else updateQuantity"
      class="btn btn-secondary btn-block"
      (click)="addToCart()"
    >
      Add to Cart
    </button>
    
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shoppingCart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>