<div class="row">
  <div class="col-md-6">
    <form [formGroup]="dataForm" (ngSubmit)="save()">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" id="title" type="text" class="form-control">
        <!-- <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required</div> -->
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
      </div>
      <!-- <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
        <div *ngIf="imageUrl.errors.required">Adding an image url is required</div>
        <div *ngIf="imageUrl.errors.url && !imageUrl.errors.required">Please add a valid image url.</div>
      </div> -->
      <div class="form-group">
        <label for="category">Category</label>
        <select formControlName="category" id="category" class="form-control">
          <option value=""></option>
          <option *ngFor="let category of recipeCategories$ | async" value="{{ category.name }}">
            {{ category.name }}
          </option>
        </select>
        <!-- <div class="alert alert-danger" *ngIf="cat.touched && cat.invalid">
          Selecting a category is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" id="description" class="form-control" ></textarea>
        <!-- <div class="alert alert-danger" *ngIf="descriptionField.touched && descriptionField.invalid">
          <div *ngIf="descriptionField.errors.required">Description is required</div>
          <div *ngIf="descriptionField.errors.minlength">Description should be more than 40 characters.</div>
          <div *ngIf="descriptionField.errors.maxlength">Description should be less than 160 characters.</div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="directions">Directions</label>
        <textarea formControlName="directions" id="directions" class="form-control"></textarea>
        <!-- <div class="alert alert-danger" *ngIf="directionsField.touched && directionsField.invalid">
          <div *ngIf="directionsField.errors.required">Directions are required</div>
          <div *ngIf="directionsField.errors.minlength">Directions should be more than 40 characters.</div>
          <div *ngIf="directionsField.errors.maxlength">directions should be less than 160 characters.</div>
        </div> -->
      </div>
      <div formArrayName="ingredients">
        <h4>Ingredients</h4>
        <div
          class="form-group"
          *ngFor="let ingredientControl of ingredientFormArray.controls; let i = index">
          <div [formGroup]="ingredientControl">
            <input formControlName="name" hidden>
            <input formControlName="productUid" hidden>
            <input formControlName="category" hidden>
            <input formControlName="key" hidden>

            <select class="form-control" (change)="onIngredientSelected($event.target.value, i)">
              <option value="">Select ingredient</option>
              <option
                *ngFor="let ing of ingredients; let k = index"
                [value]="k"
                [selected]="data.ingredients.length > 0 && data.ingredients[i].name === ing.name"
              >{{ ing.name }}</option>
            </select>

            <input
              formControlName="quantity"
              type="number"
              class="form-control"
              placeholder="Write ingredient quantity">
          </div>
        </div>
        <button class="btn btn-default" type="button" (click)="onAddIngredient()">Add Ingredient</button>
      </div>      
      <button class="btn btn-primary" type="submit" >Save</button>
      <button class="btn btn-danger" type="button" *ngIf="id" (click)="delete()">Delete</button>
    </form>    
  </div>
  <div class="col-md-6">
    <aside>
      <!-- <product-card [product]="product" [showActions]="false"></product-card> -->
    </aside>
  </div>
</div>
