.leading {
  text-align: right;
  margin-bottom: 1.5em;

  input {
    width: auto;
    min-width: 200px;
    margin-right: 1em;
  }
  .btn, input {
    display: inline-block;
  }
}

.product-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 470px) {
  .leading input {
    margin-right: 0;
    margin-bottom: 1em;
    width: initial;
  }
}

@media only screen and (max-width: 800px) {
  .product-img {
    width: 30px;
    height: 30px;
  }

  .image-col {
    width: 30px;
  }
}
