.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
}

.image-col {
  width: 80px;
}

.quantity-col {
  width: 230px;
}

.total-col {
  width: 150px;
}

@media only screen and (max-width: 800px) {
  .thumbnail {
    width: 30px;
    height: 30px;
  }

  .image-col {
    width: 30px;
  }
}