<div class="row">
  <div class="col-md-6">
    <form [formGroup]="dataForm" (ngSubmit)="save()">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" id="title" type="text" class="form-control">
        <!-- <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" id="description" class="form-control"></textarea>
        <!-- <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
          <div *ngIf="description.errors.required">Description is required</div>
          <div *ngIf="description.errors.minlength">Description should be more than 40 characters.</div>
          <div *ngIf="description.errors.maxlength">Description should be less than 160 characters.</div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input formControlName="price" id="price" type="number" class="form-control">
        </div>
        <!-- <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required</div>
          <div *ngIf="price.errors.min">Price should be $0.00 or higher. </div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select formControlName="category" id="category" class="form-control">
          <option value=""></option>
          <option
            *ngFor="let category of categories$ | async"
            value="{{ category.name }}"
          >{{ category.name }}</option>
        </select>
        <!-- <div class="alert alert-danger" *ngIf="cat.touched && cat.invalid">
          Selecting a category is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
      </div>
      <!-- <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
        <div *ngIf="imageUrl.errors.required">Adding an image url is required</div>
        <div *ngIf="imageUrl.errors.url && !imageUrl.errors.required">Please add a valid image url.</div>
      </div> -->
      <button class="btn btn-primary" type="submit" [disabled]="!dataForm.valid">Save</button>
      <button class="btn btn-danger" type="button" *ngIf="id" (click)="delete()">Delete</button>
    </form>    
  </div>
  <div class="col-md-6">
    <aside>
      <product-card [product]="data" [showActions]="false"></product-card>
    </aside>
  </div>
</div>
