$primary-color: #000;
$primary-contrast-color: rgb(130, 195, 65);

$secondary-contrast-color: rgb(255, 125, 9);
$box-shadow: 3px 3px 4px 0px #0000003b;

$default-grey: #e6e4e2;;
$background-grey: #f8f9fa;

$alert-color: #c34141;
$form-control-box-shadow: 0 0 5px 1px #82c34133;