<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.
    <button
      (click)="clearCart()"
      class="btn btn-light btn-sm"
    >Clear Shopping Cart</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th class="image-col"></th>
        <th>Product</th>
        <th class="quantity-col text-center">Quantity</th>
        <th class="total-col text-right">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <img [src]="item.product.imageUrl" class="thumbnail" alt="">
        </td>
        <td>{{ item.product.title }}</td>
        <td class="text-center">
          <product-quantity [product]="item.product" [shoppingCart]="cart"></product-quantity>
        </td>
        <td class="text-right">{{ item.totalPrice | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency }}</th>
      </tr>
    </tfoot>
  </table>
  <a
    *ngIf="cart.items.length"
    routerLink="/checkout"
    class="btn btn-primary"
  >Check Out</a>
</ng-container>