<article class="wrapper recipe" *ngIf="recipe$ | async as recipe">
  <img [src]="recipe?.imageUrl" [alt]="recipe?.title" width="200px">
  <h2 class="recipe-title">{{ recipe?.title }}</h2>
  <p class="recipe-author">{{ recipe?.authorDisplayName }}</p>
  <h6 class="recipe-section-title">Description</h6>
  <p>{{ recipe?.description }}</p>
  <hr>
  <h6 class="recipe-section-title">Ingredients</h6>
  <ul class="ingredients">
    <li *ngFor="let ingredient of recipe?.ingredients" class="">
      <p>{{ ingredient.name }} x {{ ingredient.quantity }}</p> 
      <button class="btn btn-default" (click)="addIngredientToShoppingCart(ingredient)">Add to cart</button>
    </li>
  </ul>
  <h6 class="recipe-section-title">Directions</h6>
  <p>{{ recipe?.directions }}</p>
</article>