<form #f="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      name="name"
      #name="ngModel"
      [(ngModel)]="shippingAddress.name"
      placeholder="Name"
      type="text"
      class="form-control"
      required> 
    <form-error [dataType]="'shipping'" [fControl]="name" [fControlName]="'name'"></form-error>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input
      name="country"
      #country="ngModel"
      [(ngModel)]="shippingAddress.country"
      placeholder="Country"
      type="text"
      class="form-control"
      required>
    <form-error [dataType]="'shipping'" [fControl]="country" [fControlName]="'country'"></form-error>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input
      name="city"
      #city="ngModel"
      [(ngModel)]="shippingAddress.city"
      placeholder="Country"
      type="text"
      class="form-control"
      required>
    <form-error [dataType]="'shipping'" [fControl]="city" [fControlName]="'city'"></form-error>
  </div>
  <div class="form-group">
    <label for="addressLine">Address Line</label>
    <input
      name="addressLine"
      #addressLine="ngModel"
      [(ngModel)]="shippingAddress.addressLine"
      placeholder="Address Line"
      type="text"
      class="form-control"
      required>
    <form-error [dataType]="'shipping'" [fControl]="addressLine" [fControlName]="'addressLine'"></form-error>
  </div>
  <button class="btn btn-light" (click)="saveAddress(f.value)" [disabled]="!f.valid">Save address</button>
</form>