@import '../../../../styles/colors.scss';

.recipe {
  border-bottom: 1px dashed $default_grey;
  margin-bottom: 1em;

  img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 1em;
    object-fit: cover;
  }

  footer {
    margin: -1em auto 1em;
  }
}
