<main class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 offset-sm-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="wrapper">
          <h1>{{ isLoginMode ? 'Please Login Here' : 'Please Signup Here' }}</h1>
          <loading-spinner *ngIf="auth.isLoading"></loading-spinner>
          <ng-container *ngIf="!auth.isLoading">
            <login-with-credentials [isLoginMode]="isLoginMode"></login-with-credentials>
            <hr>
            <button
            class="btn-primary btn"
            (click)="loginWithGoogle()">
            {{ isLoginMode ? 'Log in' : 'Sign up' }} with Google</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>
