/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "./styles/fonts.scss";
@import "./styles/colors.scss";
@import "./styles/icons.scss";
@import "./styles/table.scss";

body {
  font-family: $text_font;
  background: $background-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $title_font_weight;
}

a {
  color: $primary-contrast-color;

  &:hover {
    color: $primary-contrast-color
  }
}

.container {
  padding-top: 25px;
}

.btn {
  border: none;
  cursor: pointer;

  &:focus,
  &:active {
    border: none;
    outline: 0 !important;
    box-shadow: none !important;
  }

  &-default {
    background: $default-grey;

    &:hover,
    &:active {
      background: $primary-contrast-color;
      color: #fff;
    }
  }

  &-primary {
    background: $primary-contrast-color!important;

    &:not(.disabled):hover,
    &:not(.disabled):active,
    &:not(.disabled):focus {
      background: $secondary-contrast-color !important;
    }
  }

  &-secondary {
    background: $secondary-contrast-color;

    &:not(.disabled):hover,
    &:not(.disabled):active,
    &:not(.disabled):focus {
      background: $primary-contrast-color !important;
    }
  }

  &-cta {
    padding: 0.5em 2em;
    font-weight: 500;
  }
}

.dropdown {
  &-menu {
    border: none;
  }

  &-divider {
    border-top: 1px dashed $default-grey;
  }

  &-item {
    &.active {
      background-color: transparent;
      color: $primary-contrast-color!important;
    }
  }
}

.list-group {
  box-shadow: $box-shadow;

  &-item {
    border: none;
    border-bottom: 1px dashed #e6e4e2;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0.5em 1em;
    transition: all ease-in-out 0.2s;
  
    a {
      display: block;
    }
  
    &.active {
      background-color: $primary-contrast-color;
      border-bottom-color: $primary-contrast-color;
  
      & * {
        color: white !important;
      }
    }
  
    &.active:hover,
    &:hover {
      background-color: $secondary-contrast-color;
      border-bottom-color: $secondary-contrast-color;
  
      & * {
        color: white !important;
      }
    }
  }
}

.form-control {
  border: 1px dashed $default-grey;

  &:focus {
    border-color: $primary-contrast-color;
    box-shadow: $form-control-box-shadow;
  };
}

.alert {
  border-style:dashed;
  border: none;
  padding-bottom:0;
  font-weight: 500;
  
  &-danger {
    background: transparent;
    color: $alert-color;
  }
}

.page {
  &-item {
    &.active {
      .page-link {
        background: $primary-contrast-color;
        border-color: $primary-contrast-color;
        box-shadow: $form-control-box-shadow;
      }
    }

    .page-link {
      color: $primary-color;
    }
  }
}

.wrapper {
  padding: 1.5em;
  background: #fff;
  box-shadow: $box-shadow;
}

