<div class="row">
  <div class="col-md-6">
    <form [formGroup]="dataForm" (ngSubmit)="save()">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text" class="form-control">
        <!-- <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Name is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select
          formControlName="category"
          id="category"
          (change)="filterProductsByCategory()"
          class="form-control">
            <option value=""></option>
            <option
              *ngFor="let category of categories$ | async"
              value="{{ category.name }}">{{ category.name }}</option>
        </select>
        <!-- <div class="alert alert-danger" *ngIf="cat.touched && cat.invalid">
          Selecting a category is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="productUid">Related product</label>
        <select formControlName="productUid" id="productUid"        class="form-control">
          <option value="">Select related product</option>
          <option
            *ngFor="let product of filteredProducts"
            value="{{ product.key }}"
          >{{ product.title }}</option>
        </select>
        <!-- <div class="alert alert-danger" *ngIf="productField.touched && productField.invalid">
          Selecting a related product is required
        </div> -->
      </div>
      
      <button class="btn btn-primary" type="submit" [disabled]="!dataForm.valid">Save</button>
      <button class="btn btn-danger" type="button" *ngIf="id" (click)="delete()">Delete</button>
    </form>    
  </div>
  <div class="col-md-6">
    <!-- <aside>
      <product-card [product]="product" [showActions]="false"></product-card>
    </aside> -->
  </div>
</div>
